.label-text {
	font: normal 400 16px/34px "Lexend";
	letter-spacing: 0.5px;
	color: var(--SoJoGrey100);
}

h1 {
	font: normal 500 32px/41px "Lexend";
	color: var(--SoJoBlack100);
}

h4 {
	font: normal 500 16px/34px "Lexend";
	color: var(--SoJoBlack100);
}

p {
	padding: 9px 0;
	color: var(--SoJoBlack100);
	font: normal 400 20px/34px "Lexend";
}

p.regular {
	font: normal 400 16px/34px "Lexend";
}

p.grey {
	color: var(--SoJoGrey100);
}

.link-text {
	color: var(--SoJoBlue100);
}
